/** @format */

@charset "utf-8";

$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$grey: #f3f3f3;

$primary: $grey;
$secondary: $grey;
$link: $purple;

// $navbar-dropdown-background-color: $purple;
$navbar-dropdown-arrow: $purple;
$navbar-dropdown-border-top: 2px solid $purple !default;

@import "../../node_modules/bulma/bulma.sass";
