/** @format */

@charset "utf-8";

$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$primary: $purple;

@import "../../node_modules/bulma/bulma.sass";
